.listeArticle {
    margin: auto;
    text-align: center;
    width: 50%;
}

section {
    width: 100%;
    margin: 50px auto;
}

h1 {
    font-size: 200;
    padding-top: 50px;
    text-align: center;
}