.ListeCommentaire {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(9, 31, 67, 0.9);
    width: 80%;
    margin: auto;
}

.Commentaire {
    width: 45%;
    border: 1px solid white;
    margin: 20px;
    text-align: center;
}