.article-complet {
    border: solid 1px black;
    width: 50%;
    margin: 20px auto;
    background-color: rgba(9, 31, 67, 0.9);
    word-wrap: break-word;
    color: white;
}

.listeCommentaire {
    text-align: center;
    border: solid 1px black;
    width: 50%;
    margin: 20px auto;
    background-color: rgba(9, 31, 67, 0.9);
    word-wrap: break-word;
}

.commenter {
    background-color: rgba(9, 31, 67, 0.9);
    border: solid 1px black;
    width: 50%;
    margin: auto;
    text-align: center;
}

.page_article_complet p {
    word-wrap: break-word;
    white-space: pre-line;
    padding: 20px;
    margin: 20px;
}

.article-complet h1 {
    color: white;
}

.article-complet h2 {
    text-align: left;
    padding: 20px;
    margin: 20px;
}

.article-complet button {
    margin-bottom: 20px;
    margin-right: 1px;
}